* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 90vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  width: 80vw;
  height: 67vh;
  margin: 3rem auto;
  padding: 12px 13px;
}

.wrapper h2 {
  text-align: center;
  color: rgb(135, 135, 135);
  font-weight: 600;
  text-decoration: underline;
  letter-spacing: 2.5px;
  font-size: 27px;
}

.main_container {
  position: relative;
  padding: 14px 16px;
  margin: 50px auto;
  border: 1px solid rgb(205, 187, 187);
  background: lightgreen;
}

.rTableHead {
  height: 39px;
  display: flex;
  justify-content: start;
  align-items: center;
  background: cornflowerblue;
}

.thead {
  /* width: 20%; */
  padding: 3px 1.8%;
  height: 35px;
  color: white;
  font-weight: 800;
}

.table_content {
  width: 100%;
  background: white;
  min-height: 47vh;
  max-height: 47vh;
  overflow-y: auto;
}

.tr {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 40px;
}

.td {
  /* width: 20%; */
  padding: 3px 1.5%;
  height: 40px;
  border: 1px solid #f5e9e9;
  overflow-x: hidden;
}

.tr:hover {
  background-color: #f8f8f8;
}

::selection {
  background: rgb(215, 216, 218);
  color: rgb(191, 190, 190);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #b361ff;
  border-right: 16px solid lightgreen;
  border-bottom: 16px solid tomato;
  border-left: 16px solid rgba(255, 192, 203, 0.983);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto auto;
  padding: auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
